:root {
    --accent: #B342A1;
    --body: #E0E0E0;
    --sidebar: #F0F0F0;
    --main-bg: #FFFFFF;
    --card-bg: #FFFFFF;
    --text: #222222;
    --disabled: #6A6A6A;
    --borders: #AFAFAF;
    --destructive: #D20F0F;
}