body {
    --accent: #B342A1;
    --body: #E0E0E0;
    --sidebar: #F0F0F0;
    --main-bg: #FFFFFF;
    --card-bg: #FFFFFF;
    --text: #222222;
    --disabled: #6A6A6A;
    --borders: #AFAFAF;
    --destructive: #D20F0F;
}

body[prefer-dark="true"] {
    --accent: #CD69BD;
    --body: #000000;
    --sidebar: #222222;
    --main-bg: #333333;
    --card-bg: #3A3A3A;
    --text: #F2F2F2;
    --disabled: #959595;
    --borders: #757575;
    --destructive: #C43B3B;
}

.color-variants .dark-variant {
    display: none;
}

body[prefer-dark="true"] .color-variants .dark-variant {
    display: block;
}

body[prefer-dark="true"] .color-variants .light-variant {
    display: none;
}