body {
    --accent: #B342A1;
    --accent-border: #B342A180;
    --accent-transparent: #B342A126;
    --body: #E0E0E0;
    --main: #F0F0F0;
    --highlight: #FFFFFF;
    --text: #222222;
    --disabled: #6A6A6A;
    --borders: #D9D9D9;
    --destructive: #AD0E0E;
    --blue: #30419A;
    --blue-transparent: #30419A26;
    --green: #2E9425;
    --green-transparent: #2E942526;
    --orange: #9A5D30;
    --orange-transparent: #9A5D3026;
}

body.dark {
    --accent: #CD69BD;
    --accent-border: #CD69BD80;
    --accent-transparent: #CD69BD26;
    --body: #171717;
    --main: #222222;
    --highlight: #2F2F2F;
    --text: #F2F2F2;
    --disabled: #959595;
    --borders: #535353;
    --destructive: #C43B3B;
    --blue: #6d7dc7;
    --green: #5db755;
    --orange: #b77b4f;
}

.color-variants .dark-variant {
    display: none;
}

body.dark .color-variants .dark-variant {
    display: block;
}

body.dark .color-variants .light-variant {
    display: none;
}