@import "colors.css";
@import "mobile.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-rounded {
    font-variation-settings:
            'FILL' 1,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24
}

* {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    transition: color 200ms;
}

body.cute {
    cursor: url('../img/cursor.png'), auto;
}

nav, main, body, header {
    transition: background-color 200ms, border 200ms;
}

*.disabled {
    opacity: 0.35;
}

*.disabled, *.disabled * {
    pointer-events: none;
}

body.cute *.disabled, body.cute *.disabled * {
    cursor: url('../img/cursor_forbidden.png'), not-allowed;
}

body {
    background-color: var(--body);
    font-family: Inter, sans-serif;
    margin: 0;
    font-size: 14px;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

body > main {
    background-color: var(--main);
    max-width: 1100px;
    margin: 0px auto;
    box-shadow: 0px 0px 35px #00000025;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-flex {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

section {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

section:not(.no-padding), .section-inset {
    padding: 25px;
}

.no-margin {
    margin: 0px!important;
}

.section-head {
    margin: 0px 0px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-head .button {
    flex-shrink: 0;
}

section > h1, .section-head > h1 {
    width: 100%;
    font-size: 32px;
    margin: 0px;
}

section.help hr {
    width: 100%;
}

header:not(.login-window-head) {
    background-color: var(--highlight);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--borders);
    z-index: 2;
}

header:not(.login-window-head) img.logo {
    width: 125px;
}

a:link {
    text-decoration: none;
}

a:not(.button):link, a:not(.button):visited {
    color: var(--accent);
}

body.cute a:not(.button):link, body.cute a:not(.button):visited {
    cursor: url('../img/cursor_hand.png'), pointer;
}

.destructive, .destructive *, div .destructive .material-symbols-rounded {
    color: var(--destructive);
}

.button-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"], input[type="password"], textarea {
    color: var(--text);
}

body.cute input[type="text"], body.cute input[type="password"], body.cute textarea {
    cursor: url('../img/cursor_ibeam.png'), text;
}

.help-link {
    float: right;
}

button, .button {
    padding: 5px 12px;
    border-radius: 5px;
    font-size: inherit;
    border: 1px solid var(--borders);
    background-color: var(--highlight);
    box-shadow: 0px 1px 2px #00000025;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text);
    transition: background-color 0.25s;
    cursor: pointer;
}

body.cute button, body.cute .button {
    cursor: url('../img/cursor_hand.png'), pointer;
}

button.cta, .button.cta {
    background-color: var(--accent);
    border-color: var(--accent);
    color: white;
}

button.flat, .button.flat {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

button.icon, .button.icon {
    padding: 5px;
}

button:hover, .button:hover {
    background-color: var(--borders);
}

button.cta:hover, .button.cta:hover {
    background-color: var(--accent-focus);
}

.button.dropdown {
    gap: 10px;
}

.button.dropdown select {
    font-size: inherit;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: inherit;
    opacity: 0.45;
    background-color: transparent;
    width: auto;
    padding: 0px;
}

.button.dropdown label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button.icon.vsmall span.material-symbols-rounded, button.icon.vsmall span.material-symbols-rounded {
    font-size: 20px;
}

.button.round, button.round {
    border-radius: 200px;
}

button.accentFg {
    color: var(--accent);
}

section.contents > p {
    margin-bottom: 0px;
}

section.contents > ul {
    margin-top: 5px;
}

.header-side-element {
    width: 250px;
    flex-shrink: 0;
    display: flex;
}

.searchbar {
    background-color: var(--main);
    border: 1px var(--borders) solid;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 8px 10px;
    gap: 10px;
}

.searchbar > span {
    opacity: 0.5;
}

.searchbar input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    width: 100%;
}

.user-profile-button {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    position: relative;
    cursor: pointer;
}

body.cute .user-profile-button {
    cursor: url('../img/cursor_hand.png'), pointer;
}

.user-profile-button > div {
    text-align: right;
}

.user-profile-button > div p {
    margin: 0px;
}

.user-profile-button > div p:last-child {
    opacity: 0.5;
}

.user-profile-button img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.list >*:not(:last-child) {
    border-bottom: 1px var(--borders) solid;
}

.list{
    margin-bottom: 15px;
}

.board-list-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    color: var(--text)!important;
}

.board-list-item img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
}

.tab-bar {
    display: flex;
    padding: 25px 45px;
    box-sizing: border-box;
    background-color: var(--main);
    position: sticky;
    top: 0px;
    /*top: -25px;*/
}

.tab-bar.compact {
    padding: 0px;
}

.tab-bar.compact button, .tab-bar.compact .button {
    width: auto;
}

.tab-bar button, .tab-bar .button {
    background-color: var(--highlight);
    border: 1px var(--borders) solid;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    justify-content: center;
}

.tab-bar button.active, .tab-bar .button.active {
    background-color: var(--accent);
    color: white;
    border-color: var(--accent);
}

.tab-bar button:first-child, .tab-bar .button:first-child {
    border-radius: 5px 0px 0px 5px;
}

.tab-bar button:last-child, .tab-bar .button:last-child {
    border-radius: 0px 5px 5px 0px;
}

.tab-bar button:not(:first-child) .tab-bar .button:not(:first-child){
    border-left: none;
}

nav {
    padding: 10px;
    width: 300px;
    background-color: var(--highlight);
    box-sizing: border-box;
    border-right: 1px var(--borders) solid;
    height: 100%;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    left: 0px;
}

nav > div {
    margin-bottom: 15px;
}

nav a * {
    color: inherit;
}

nav a[href]:link, nav a[href]:visited {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    color: var(--text);
    border-radius: 7px;
    border: 1px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
}

nav a[href] img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 100%;
}

nav a[href]#show-all-followed {
    color: var(--accent);
}

nav a[href]:hover, #board-expander:hover {
    background-color: var(--main);
    border-color: var(--borders);
}

nav a[href].current {
    color: var(--accent);
    border-color: var(--accent);
    background-color: var(--accent-transparent);
}

.nav-header{
    margin: 0px 0px 5px;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 12px;
}

header .mobile, nav a[href].mobile {
    display: none;
}

.go-up {
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    border: none;
    border-radius: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.right{
    margin-left: auto;
}

.user-profile-blog-avatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
}

.post-card{
    border: 1px solid var(--borders);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: var(--highlight);
    display: block;
}

.post-view {
    border-bottom: 1px solid var(--borders);
    background-color: var(--highlight);
}

.post-view .post-reactions {
    padding: 0px 10px 10px;
}

.post-card .posted-at-text, .post-view .posted-at-text {
    margin-left: 10px;
    opacity: 0.65;
}

.card-head{
    display: flex;
    align-items: center;
    padding: 15px;
}

.card-description {
    margin-top: 0px;
    opacity: 0.75;
    font-size: 13px;
}

.has-description {
    margin-bottom: 8px!important;
}


.card-head a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-content {
    display: flex;
    gap: 15px;
    padding: 0 15px;
}

.post-fragment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-body .post-title, .post-body a.post-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: var(--text);
    display: block;
}

.post-fragment .post-body {
    height: 100%;
    color: inherit;
}

.post-images{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 150px;
}

.post-title-mobile {
    display: none;
}

.post-images p {
    margin: 0px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-images img {
    width: 150px;
    max-height: 125px;
    object-fit: cover;
    border-radius: 5px;
}

.post-image-stack a {
    position: relative;
    transition: 0.3s;
    width: 150px;
    max-height: 125px;
    display: inline-flex;
    pointer-events: none;
}

.post-image-stack {
    position: unset;
    text-align: center;
}

.post-image-stack a:nth-child(1) {
    z-index: 3;
    display: block;
    rotate: 5deg;
}

.post-image-stack a:not(:first-child) {
    z-index: 1;
    rotate: -5deg;
    margin-top: -100%;
    position: relative;
    opacity: 0.5;
}

.post-image-stack a:not(:nth-child(1)):not(:nth-child(2)) {
    max-width: 100%;
    opacity: 0;
}

.post-image-stack:hover a {
    rotate: 0deg;
    pointer-events: all;
}

.post-image-stack:hover a:not(:first-child) {
    margin-top: 5px;
    left: 0;
    transform: translateY(0%);
    opacity: 1;
}

.reaction-bar{
    align-items: center;
    display: flex;
    padding-bottom: 15px;
}

#not-found h1, #not-found img{
    font-size: 100px;
    display: block;
    margin: auto;
    text-align: center;
}

#not-found p{
    text-align: center;
}

.card-header{
    margin: 0px 0px 5px;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 14px;
}

.my-comment-bar {
    padding: 15px;
    border-bottom: 1px var(--borders) solid;
}

.my-comment-bar #reply-indicator {
    display: none;
    align-items: center;
    margin-bottom: 10px;
}

.my-comment-bar #reply-indicator.active {
    display: flex;
}

.my-comment-bar #reply-indicator p {
    margin: 0px;
}

.my-comment-bar #cancel-reply {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: var(--accent);
}

.my-comment-bar > div.reply-input {
    display: flex;
    background-color: var(--highlight);
    border-radius: 5px;
    border: 1px var(--borders) solid;
}

.my-comment-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    outline: none;
    font-size: inherit;
}

.my-comment-bar:has(input:focus) > div.reply-input {
    border-color: var(--accent);
    outline: 1px var(--accent) solid;
}

.no-comments-placeholder {
    text-align: center;
    padding: 30px;
    opacity: 0.75;
}

.no-comments-placeholder p {
    margin: 0px;
}

.no-comments-placeholder p:first-of-type {
    font-weight: 600;
    font-size: 18px;
}

.session-options {
    display: none;
    width: 300px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: var(--highlight);
    border: 1px var(--borders) solid;
    z-index: 6;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #00000025;
    color: inherit;
}

.session-options a {
    opacity: 1;
}

.user-profile-button:hover .session-options {
    display: flex;
    opacity: 1;
}

.session-option {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 15px;
    justify-content: start;
}

.pb {
    width: 100%;
    background-color: var(--body);
    height: 6px;
    border-radius: 3px;
    border: 1px var(--borders) solid;
    position: relative;
}

.pb:after {
    content: "";
    height: 100%;
    width: 25%;
    background-color: var(--accent);
    position: absolute;
    border-radius: 3px;
    animation: bar-anim 3.5s infinite linear;
}

@keyframes bar-anim {
    0% {left: 0%}
    50% {left: 75%}
    100% {left: 0%}
}

details {
    margin: 0px 0px 10px 0px;
}

#log {
    font-family: monospace;
}


.error, .success {
    display: block;
    padding: 10px;
    border-left-width: 3px;
    border-left-style: solid;
    display: flex;
    margin: 0px 0px 15px;
    align-items: center;
    gap: 10px;
}

.error {
    color: var(--destructive);
    background-color: var(--accent-transparent);
    border-color: var(--destructive);
}

.success {
    color: var(--green);
    background-color: var(--green-transparent);
    border-color: var(--green);
}

.tab-bar ~ .section-inset {
    padding-top: 0px;
}

.pager {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    gap: 10px;
}

p.centered {
    text-align: center;
}

hr {
    width: 250px;
    height: 1px;
    background-color: var(--borders);
    display: block;
    border: none;
    margin: 20px auto;
}