@media screen and (max-width: 900px) {
    nav {
        width: unset;
    }

    nav .nav-header {
        display: none;
    }

    nav a[href] .nav-item-title, nav .nav-header {
        display: none;
    }

    .desktop {
        display: none;
    }

    body main header:not(.login-window-head) {
        padding: 10px 15px;
        gap: 10px;
    }

    header img.logo.mobile {
        width: 32px;
    }

    header .mobile {
        display: block;
    }

    .header-side-element {
        width: auto;
    }

    .header-side-element > div {
        display: none;
    }


    header .user-profile-button img {
        width: 32px;
        height: 32px;
    }

    nav a[href]#show-all-followed {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    nav {
        width: unset;
        height: unset;
        flex-direction: row;
        display: flex;
        justify-content: center;
        border-right: unset;
        border-top: 1px var(--borders) solid;
        z-index: 5;
    }

    nav > div {
        display: flex;
        align-items: center;
        margin: 0px;
    }

    .followed-boards {
        display: none;
    }

    nav a[href] .nav-item-title, nav .nav-header {
        display: none;
    }

    .button.hide-text-on-mobile span:last-of-type, button.hide-text-on-mobile span:last-of-type {
        display: none;
    }

    .main-flex {
        flex-direction: column-reverse;
    }

    section:not(.no-padding), .section-inset {
        padding: 15px;
    }

    .board-head{
        flex-direction: column;
        gap: 0px;
        text-align: center;
    }

    section > h1 {
        font-size: 24px;
    }

    .tab-bar {
        padding: 25px 0px;
        font-size: 12px;
        top: -15px;
    }

    .admin-dashboard {
        flex-direction: column;
    }

    .section-head {
        margin: 0px 0px 15px;
    }

    .section-head h1 {
        font-size: 24px;
    }

    #viewModeSelector {
        display: none;
    }

    .post-card {
        background-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        margin: 0px;
    }

    .post-view .card-head, .post-view .post-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .post-view .post-content {
        flex-direction: column;
    }

    .post-view .post-title-mobile {
        font-weight: 600;
        font-size: 20px;
        margin: 0px;
        display: block;
    }

    .post-view .post-title {
        display: none;
    }

    .post-card:not(:last-child) {
        border-width: 0px 0px 1px 0px;
    }

    .card-head {
        padding: 10px 0px;
    }

    .post-content {
        padding: 0px;
    }

    .post-card .post-images {
        width: 100px;
    }

    .post-view .post-images {
        margin-bottom: 0px;
    }

    .post-view .post-images img {
        width: 100%;
        max-height: 200px;
        max-width: 350px;
    }

    .post-card .post-images img {
        width: 100px;
        max-height: 75px;
    }

    .post-view .post-content .post-text {
        margin-top: 0px;
    }

    .reaction-bar{
        padding: 10px 0px;
    }

    .go-up {
        z-index: 5;
        bottom: 42px;
    }

    .button-box {
        flex-direction: column;
        width: 200px;
    }

    .button-box button {
        width: 100%;
    }

    #comments.list{
        padding: 0px 15px;
    }

    #comments.list .post-comment-card p{
        padding: 0px 10px 0px 37px;
    }
}

