@media screen and (max-width: 900px) {
    nav {
        width: unset;
    }

    nav .nav-header {
        display: none;
    }

    nav a[href] .nav-item-title, nav .nav-header {
        display: none;
    }

    header:not(.mobile) {
        display: none;
    }

    header.mobile {
        display: flex;
    }
}

@media screen and (max-width: 700px) {

    nav {
        width: unset;
        height: unset;
        flex-direction: row;
        display: flex;
        justify-content: center;
        border-right: unset;
        border-top: 1px var(--borders) solid;
        z-index: 5;
    }

    nav > div {
        display: flex;
        align-items: center;
        margin: 0px;
    }

    .followed-boards {
        order: 2;
    }

    nav a[href] .nav-item-title, nav .nav-header {
        display: none;
    }

    #board-expander {
        display: block;
    }

    .followed-list {
        position: absolute;
        left: 0px;
        background-color: var(--highlight);
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        z-index: 2;
        bottom: 61px;
        max-height: 300px;
        overflow-y: auto;
        transition: opacity 0.3s;
        opacity: 0;
        border-top: 1px var(--borders) solid;
    }

    .followed-list .nav-header {
        display: block;
    }

    nav > .followed-boards .followed-list .nav-item-title {
        display: block;
    }

    .followed-boards:has(#board-expander:focus-within) .followed-list {
        opacity: 1;
    }

    #board-expander span {
        transition: rotate 0.25s;
    }

    #board-expander:focus-within span {
        rotate: 180deg;
    }

    .main-flex {
        flex-direction: column-reverse;
    }

    section {
        padding: 15px;
    }

    section > h1 {
        font-size: 24px;
    }

    .tab-bar {
        padding: 25px 0px;
        font-size: 12px;
        top: -15px;
    }

    .admin-dashboard {
        flex-direction: column;
    }

    .section-head {
        margin: 0px 0px 15px;
    }

    .section-head h1 {
        font-size: 24px;
    }

    #viewModeSelector {
        display: none;
    }

    .post-card {
        background-color: transparent;
        border-width: 0px 0px 1px 0px;
        border-radius: 0px;
        margin: 0px;
    }

    .post-images img {
        width: 100px;
        max-height: 75px;
    }

    .post-image-stack img:last-child {
        max-width: 85px;
    }
}

