.post-profile-messages-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-profile-message-sent-time{
    color: #6A6A6A;
}

.post-comment-card p{
    margin: 0px;
    padding: 0px 10px 0px 57px;
}

.post-comment-card.highlight {
    background-color: var(--accent-transparent);
}

.post-comments-head {
    display: flex;
    align-items: center;
}

.comment-error {
    margin: 10px 0px 0px;
    color: var(--destructive);
    font-weight: 500;
}

.reaction-bar{
    padding: 5px 15px;
}

.comment-thread {
    padding: 0px 30px;
}

.comment-thread .post-comment-card {
    border-left: 1px var(--borders) solid;
}

#comments {
    padding-bottom: 20px;
}

.post-images .post-image-stack {
    width: 150px;
}

@media screen and (max-width: 700px) {

    .post-images .post-image-stack {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .post-images .post-image-stack a {
        rotate: 0deg;
        pointer-events: all;
        display: block;
    }

    .post-images .post-image-stack a:not(:first-child) {
        margin-top: 0px;
        left: 0;
        transform: translateY(0%);
        opacity: 1;
    }
}