.post-profile-messages-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-profile-message-sent-time{
    color: #6A6A6A;
}

.post-comment-card p{
    margin: 0px;
    padding: 0px 10px 0px 57px;
}

.post-comment-card.highlight {
    background-color: var(--accent-transparent);
}

.post-comments-head {
    display: flex;
    align-items: center;
}

.comment-error {
    margin: 10px 0px 0px;
    color: var(--destructive);
    font-weight: 500;
}

.reaction-bar{
    padding: 5px 15px;
}

.comment-thread {
    padding: 0px 30px;
}

.comment-thread .post-comment-card {
    border-left: 1px var(--borders) solid;
}

#comments {
    padding-bottom: 20px;
}